fontforge
cava
spotifyd/song.txt
coc*
spotify-tui
.keep
pulse
pavucontrol*
omf
nvim/plugged
fonts/
configstore
dconf
*.old
GIMP
coc
gimp
qutebrowser/bookmarks
qutebrowser/qsettings
qutebrowser/quickmarks
discord
