/*
* Author: Sofiane DJERBI (@Kugge)
* Rofi config
*/

/* Main config */
configuration {
  display-run: ":: ";
  drun-display-format: "{name}";
  modi: "window,run,drun";
  show-icons: false;
}

/* Call the theme */
@theme "~/.config/rofi/theme.rasi"

